@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    min-width: 100%;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3, {
    font-family: 'Bebas Neue', cursive;
}

.container-fluid {
    width: 100%;
    /* max-width: 65em; */
    margin: 0 0 0 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar > .container-fluid {
    display: flex;
    justify-content: space-evenly !important;
    width: 100%;
    
}

/* Hero */
.hero {
    background: url("./assets/main-bg.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0 0 0 0;
    margin:0 auto;
    /* width: 100vh; */
    background-size:cover;
    background-position: center;
    height: 110vh;
    overflow: none;
}

.hero > .container {
    padding: 0 0;
    width:100%;
}

#hero-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    height: 80%;
    /* padding: 15rem 0 15rem 0 !important; */
}

.hero-main-info {
    height: 100%;
}

.scroll-down-btn {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 1%;
}

.scroll-btn-text {
    text-transform: uppercase;
    padding-bottom: 0.7em;
}

#carouselExampleDark {
    height: 20em;
    width: 40em;
}

#navbarNavAltMarkup {
    display: flex;
    justify-content: flex-start;
}

.navbar.navbar-expand-lg {
    background-color: rgba(19, 20, 20, 0.534) !important;
    padding: 1em 1em !important;
    width: 100%;
}

.navbar-brand {
    font-size: large !important;
    padding-left: 5%;
    font-family: "Open Sans", sans-serif;
}

#navbar-center {
    font-size: 14px !important;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
}

.navbar-right {
    padding-right: 12.5%;
    font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 600px) {
    #navbarTogglerDemo02 {
        margin-left: 200px !important;
    }
}

#heroTitle {
    font-size: 3rem !important;
    font-weight: bold;
}

.btn-warning {
    padding: 0.75em 3em 0.75em 3em;
    font-weight: bold;
}

/* the-games */

    section.the-games > .container-fluid {
        background: url("./assets/the-games-bg.jpg") no-repeat center;
        color: white;
        padding: 15rem 10% 15rem 10% !important;
        padding-left: 15%;
        overflow: hidden;
        height: 100vh;
    }

    .carousel-control-prev {
        margin-left: -5em !important;
        /* filter: invert(100%); */
    }

    .carousel-control-next {
        margin-right: -5em !important;
        /* filter: invert(100%); */
    }

/* Features */
    section.features > .container-fluid {
        background: url("./assets/features.jpg") no-repeat center;
        color: white;
        padding: 15rem 10% 15rem 10% !important;
        /* padding-left: 15%; */
        overflow: hidden;
        height: 100vh;
        background-position: center;
        background-size: cover;
    }

    .section-title {
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
    }

    #features-subtitle > p {
        color: rgb(255, 166, 0) !important;
        font-size: 18px !important;
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
    }

    #titleFeatures {
        grid-column: 2;
    }

    .feature-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        grid-auto-rows: minmax(10px, auto);
    }

/* Features-list */
    ul.features-lists {
        padding-left: 15px;
        margin-top: -1px;
        grid-column: 2;
    }
    ul.features-lists li {
        padding-left: 33px;
        margin-bottom: 2.5em;
        list-style: none;
        background: url('../img/misc/list-bullet-darkgray.png') no-repeat;
    }
    
    .bullet-hollow {
        
    }

    .features-subtitle {
        font-size: 18px; /* 18/16 -> 18px */
        color: rgb(243, 162, 11);
        display: inline;
        margin-right: 0.5em;
    }
    .description {
        display: block;
        margin-top: 0.5em;
    }


    /* BORDERS AND BULLETS */

    .features-lists > p {
        /*CSS reset*/
        margin-bottom: 0;
    }

    ul.features-lists li {
        position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
        /* use padding-bottom instead of margin-bottom.*/ 
        margin-bottom: 0; /* This overrides previously specified margin-bottom */
        padding-bottom: 2.5em;
    }

    ul.features-lists li:after {
        /* bullets */
        /* content: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/White_dot.svg/24px-White_dot.svg.png'); */
        position: absolute;
        left: 5px; /*adjust manually*/
        top: 0px;
    }

    #bullet-features > circle {
        fill: white;
        stroke: black;
        stroke-width: 1;
        padding: 0 0 0 0;
    }

    #bullet-features-2 > circle {
        fill:black;
        stroke: rgb(255, 255, 255);
        stroke-width: 1;
        padding: 0 0 0 0;
    }


    
    #bullet-features,
    #bullet-features-2 {
        padding: 0 0 0 0 !important;
        position: relative;
        top: 1.5em;
        left: 1px;
    }

    ul.features-lists li.bullet:before {
        /* lines */
        content:"";
        position: absolute;
        left: 8.5px; /* adjust manually */
        top: 21px;
        border-left: 2px solid rgb(253, 253, 253);
        height: 110%;
        width: 10px;
    }

/* System-Requirements */
    .system-req {
        background: url("./assets/requirements.png") no-repeat center;
        color: white;
        padding: 0 !important;
        /* padding-left: 15%; */
        overflow: hidden;
        height: 100vh;
        background-position: center;
        background-size: cover;
    }

    .system-req > .container-fluid {
        padding: 0 0 13% 0;
        padding-left: 5%;   
    }

    .system-req > .container-fluid > #titleFeatures {
        padding-bottom: 5vh;        
    }

    .system-req > div > .features-title {
        position: relative;
        padding-top: 15vh;
        padding-bottom: 5vh;
        padding-left:40%;
    }

    #table-requirements > table > tbody > tr > td > p {
        color: white !important;
    }

/* TOP SCORES */
.top-score {
    background: url("./assets/top-score-bg.png") no-repeat center;
    color: white;
    padding: 0 !important;
    background-color: rgba(17, 19, 19, 0.952);
    /* padding-left: 15%; */
    overflow: hidden;
    height: 100vh;
    background-position:center;
    background-size: cover;
}

.top-score > div > .row {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
    grid-auto-rows: minmax(1px, auto);
    margin: 0 auto;
    height: 100vh;
}

#top-score-info {
    display: flex;
    padding: 0 0;
    width: 100%;
    align-items: center;
}

#top-score-main {
    width:fit-content;
}

#top-score-review {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
    
    
}

.card-header {
    display: inline-flex;
    line-height: 1em;
    border: 0;
    align-items: center;
    
}

.card-header > .img-reviewer {
    border-radius: 50%;
    display: inline-flex;
    width: 3em;
    /* justify-content: center; */
    top: 0.5em;
    -moz-border-radius:50%;
    /* width:185px;
    height:170px; */
    box-shadow:5px 5px 0px rgba(255, 166, 0);
}

.reviewer-name {
    display: inline-flex;
    flex-direction: column;
    /* height: 100%; */
    padding: 0 0 0 1em;
}

.sub-sub-title {
    color: gray;
}

.small-twitter-icon {
    display: inline-flex;
    padding-left: 5em;
}

#reviewer-middle {
    align-self: flex-start !important;
    left: 5em;
}

.review-date {
    font-size: small;
    color: grey;
}

/* Newsletter & Footer */
.newsletter {
    background: url(./assets/newsletter-bg.png) center;
    overflow: hidden;
    height: 100vh;
    /* width: 100%; */
    background-position:center;
    background-size:fill;
    
}

#navbar-bottom-center {
    display: inline-flex;
    list-style: none;
    color: white !important;
}

#navbar-bottom-center > li > a {
    color: aliceblue !important;
}

.newsletter > div > .row {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(1px, auto);
    margin: 0 auto;
    height: 100vh;
}

.skull-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* padding: 10% 10%; */
}

.skull-img > img {
    max-width: 50%;
    /* height: 50%; */
}

.newsletter-main {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 6em !important;
}

#footer {
    float:inline-end;
    grid-column: 1/3;
    grid-row: 2/3;
    height: 100%;
}

.placeholder {
    height: 3.1em !important;
    border-radius: 2px;
    background-color: rgb(58, 63, 63) !important;
    padding-left: 1em;
    padding-right: 2em;
}

#text-placeholder, #text-placeholder::after {
    margin: 0 !important;
    font-size: 0.8em;
}

#email-placeholder {
    color: rgb(243, 170, 11);
    font-size: 16px;
}

p {
    font-family: "Open Sans", sans-serif !important;
}

.bottom-nav {
    padding-bottom: 0.5em;
}

.tos-container {
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    margin-left: auto;
    align-items: center;
    border-top: 1px solid grey;
    padding-top: 1em;
}

.copyright {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    color: gray;
}

#tos {
    display: flex;
    justify-content: flex-end !important;
    margin-left: auto;
    text-transform: uppercase;
    font-size: 14px;
}

ul {
    margin-bottom: 0 !important;
}

.footer-social-media {
    float: right;
}

@media only screen and (max-width: 992px) {
    .footer-social-media {
        float: none !important;
    }
}
